.country {
  border: 2px solid salmon;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.country-visited {
  border: 2px solid greenyellow;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
